body {
  background: linear-gradient(133deg, #04a381, #446faa, #39948d, #66b1b6);
  background-size: 800% 800%;

  -webkit-animation: background 23s ease infinite;
  -moz-animation: background 23s ease infinite;
  animation: background 23s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

.heading-one {
  font-family: "orbitron", system-ui;
  color: #ffffff;
  font-size: 8rem;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  padding: 2rem;
}

.outer {
  width: 90%;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* flex-wrap: wrap; */
}

img {
  cursor: pointer;
}

.inner {
  background-color: #04a381;
  width: 200px;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
  /* line-height: 80px; */
}

.round {
  border-radius: 50%;
}

.audio-container {
  display: flex;
  gap: 1rem;

  /* flex-wrap: wrap; */
}

.audio-container > audio {
  /* flex: 1; */
  max-width: 100%;
}

.audio-container {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.audio-container > audio {
  /* flex: 1; */
  max-width: 100%;
}

.audio-controls,
.timeline {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.audio-controls button {
  width: 64px;
  background-color: #9fcbc4;
  border: none;
  border-radius: 80%;
  align-items: center;
  
}

.audio-controls button img {
  padding: 8px;
  align-self: center;
  align-items: flex;
}

.timeline button {
  padding: 0 10px;
  background-color: #ffffff;
  border: none;
}

.audio-title {
  display: flex;
  justify-content: space-between;
}

.audio-title h1 {
  font-size: 1.2rem;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #e5e5cb68;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 50px;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #07594194;
  width: 0;
  transition: width 0.3s ease;
}

nav {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: italic;
  word-spacing: 6rem;
  letter-spacing: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  color: whitesmoke;
  opacity: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}
