h1 {
  color: whitesmoke;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 5.5rem;
  text-align: center;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
p {
  color: darkslateblue;
}
ul {
  color: darkslateblue;
  font-family: "Courier New", Courier, monospace;
}
footer {
  color: cornflowerblue;
}
nav {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: italic;
  word-spacing: 6rem;
  letter-spacing: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  opacity: 50%;
}

p {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-image: linear-gradient(
    to bottom,
    #b1b2ff,
    #ceacf4,
    #e4a7e6,
    #f5a3d4,
    #ffa2c2
  );
}
a {
  color: darkslateblue;
  text-decoration: none;
}

p {
  padding: 1rem 1rem 1rem 1rem;
  padding-left: 1rem;
}

h3 {
  padding: 1rem 1rem 1rem 1rem;
}

li {
  padding: 0.5rem;
}

header {
  opacity: 40%;
}
