body {
  background: linear-gradient(133deg, #04a381, #446faa, #39948d, #66b1b6);
  background-size: 800% 800%;

  -webkit-animation: background 23s ease infinite;
  -moz-animation: background 23s ease infinite;
  animation: background 23s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

h1 {
  font-family: "orbitron", system-ui;
  color: #ffffff;
  font-size: 8rem;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  padding: 2rem;
}

h2 {
  font-family: "orbitron", system-ui;
  font-size: 1.5rem;
  color: white;
  font-style: normal;
  padding-bottom: 1rem;
}
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  /* padding-bottom: 10px; */
}

/* Header styling */
header {
  text-align: center;
  width: 100%;
}

/* Navigation styling */
/* nav {
  margin-top: 20px;
  text-align: center; */
nav {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: italic;
  word-spacing: 6rem;
  letter-spacing: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  opacity: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e5e5cb68;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: coral;
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
