h1 {
  font-size: 6rem;
  text-transform: lowercase;
  font-weight: 800;
  padding-bottom: 20px;
  color: mediumslateblue;

  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 10px;
  padding-top: 10px;
  color: forestgreen;
}

p {
  line-height: 1.4;
  padding: 10px;
}

h3 {
  color: blue;
}
